.intro {
	height: 100vh;
	width: 100%;
	background-color: #ffcff2;
}

.intro p {
	text-align: center;
	color: black;
	font-family: Montserrat, sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 100px;
	line-height: 100%;
}

.intro img{
	width: 35%;
}

.img-holder{
    margin-top: 40px;
    text-align: center;
}

.btn-holder {
	text-align: center;
	margin-top: 75px;
}

.btn2{
	padding: 6px 35px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	color: red;
	background-color: white;
	transition: all .2s ease-in-out;
	text-decoration: none;
	border-radius: 3px;
}

.btn2:hover{
	text-decoration: none;
	background-color: red;
	color: white;
	transform: scale(2.2);
}