.container{
	margin-top: 250px;
	font-family: Montserrat, sans-serif;
}

.container img{
	width: 350px;
}

.btn2{
	padding: 6px 20px;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	color: red;
	background-color: white;
	transition: all .2s ease-in-out;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid red;
}

.btn2:hover{
	color: white;
	text-decoration: none;
	background-color: red;
	transform: scale(2.2);
}